@import url("https://fonts.google.com/specimen/Nunito+Sans");

* {
    box-sizing: border-box;
}

:root {
    --backgroundColor: hsl(0, 0%, 100%);
    --body: hsl(0, 0%, 98%);
    --font: "Nunit Sans";
}

body {
    background-color: var(--body);
    font-family: var(--font), sans-serif;
    margin: 0;
}

header {
    background-color: var(--backgroundColor);
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1440px;
    padding: 30px;
    position: relative;
}

h1 {
    margin: 0;
}

/* Theme button styling */
.btn-toggle {
    background-color: var(--backgroundColor);
    border: none;
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    width: 120px;
}

.btn-toggle .fas {
    display: none;
}

body.dark .btn-toggle .fas {
    display: inline;
}

body.dark .btn-toggle .far {
    display: none;
}

/* Input styling  */
.search {
    background-color: var(--backgroundColor);
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    color: inherit;
    font-family: var(--font), sans-serif;
    font-size: 14px;
    padding: 20px;
    min-width: 300px;
}

/* Dropdown styling  */
.dropdown {
    border-radius: 4px;
    background-color: var(--backgroundColor);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-size: 14px;
    padding: 20px;
    position: relative;
}

.dropdown .fa-chevron-down {
    margin-left: 10px;
}

.dropdown ul {
    border-radius: 4px;
    background-color: var(--backgroundColor);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    display: none;
    padding: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    width: 100%;
    z-index: 99;
}

.dropdown.open ul {
    display: block;
}

.dropdown ul li {
    margin: 10px 0;
}

/* Country Card styling */
.card {
    border-radius: 4px;
    background-color: var(--backgroundColor);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    overflow: hidden;
    margin: 40px;
    max-width: 100%;
    width: 300px;
}

.card img {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.card-body {
    padding: 30px;
}

.card-body h2 {
    margin-top: 0;
}

.container.countries {
    margin-top: -40px;
    justify-content: center;
}
